/* GENERAL LAY-OUT */

/* Sidebar and main content alignment */
body {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
}

/* SWITCH TOKEN BUTTONS */
.switch-token-container .hidden {
    display: none;
}

.hidden {
    visibility: hidden;
}

.none {
    display: none;
}

.switch-token-container p {
    display: inline-block;
}

/* Main content alignment */
body > section {
    display: grid;
    grid-template-rows: 10% 90%;
    perspective: 100vh;
    perspective-origin: 60% top;
    padding-left: 2rem;
    overflow: hidden;
    background-image: url("../images/board_background.webp");
    background-size: 120rem 67.5rem;
}

main {
    display: grid;
    grid-template-columns: 50% 20% 20% 10%;
    grid-template-rows: 72% 5% 23%;
    grid-template-areas:    "decks board-tokens nobles timer"
                            "player-points player-tokens action-button action-button"
                            "reserved-cards player-tokens action-button action-button";
}

.decks {
    grid-area: decks;
    display: flex;
    flex-direction: column;
    gap: 0.4rem 0;
}

.board-tokens {
    grid-area: board-tokens;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    gap: 0 0.5rem;
    flex-wrap: wrap;
    height: 22rem;
}

.board-tokens li {
    height: 30%;
    width: 4rem;
    transition: filter 0.3s ease-in-out;
}

.board-tokens li:hover {
    filter: brightness(80%);
}

.board-tokens p {
    text-align: center;
}

.pulsing-text {
    animation: pulse-bright 1s ease-in-out infinite;
}

@keyframes pulse-bright {
    0%, 100% {
        filter: brightness(100%);
    }
    50% {
        filter: brightness(70%);
    }
}

.selected-token p {
    color: #d88e4f;
}

.nobles {
    grid-area: nobles;
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
}

.nobles img {
    width: 4.5rem;
    transition: filter 0.3s ease-in-out;
    /* This is needed to prevent a redraw on a new texture which causes sub-pixel shifting due to anti-aliasing.
       Usage of will-change outside of optimization is frowned upon so if there is another way to fix this please change this.
       https://developer.mozilla.org/en-US/docs/Web/CSS/will-change */
    will-change: filter;
}

.nobles img:hover {
    filter: brightness(80%);
}

.player-tokens {
    grid-area: player-tokens;
    color: whitesmoke;
}

.reserved-cards {
    grid-area: reserved-cards;
}

/* ASIDE */
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0.42rem;
    background-image: url("../images/UI/sidebar_background.webp");
    background-size: contain;
    z-index: 2;
    box-shadow: 0.3rem 0 0 0 rgba(121, 96, 72, 0.5);
}

.player-card > ul {
    display: flex;
    gap: 0 0.2rem;
    margin-bottom: 0.5rem;
}

.card li {
    display: flex;
    align-items: center;
    width: 20%;
    position: relative;
    font-size: 0.75rem;
}

.decks > li {
    display: flex;
    gap: 0 1rem;
}

.player-tokens li {
    display: flex;
    gap: 0.5rem;
}

.player-card > ul > li {
    display: flex;
    align-items: center;
}

.player-card .reserved li {
    position: relative;
}

.player-card .reserved p {
    position: absolute;
    color: whitesmoke;
    top: 10%;
    left: 25%;
}

.player-card .reserved img {
    height: 4.250rem;
    left: 0;
}

.discard-container > * {
    display: inline-block;
}

/* Player cards */
.player-card header, .player-card li {
    display: flex;
    align-items: baseline;
    gap: 0.4rem;
}

.player-card header {
    margin-bottom: 0.5rem;
}

.game-creator {
    border: solid #ffc107;
    border-radius: 50%;
}

/* History */
.history {
    height: 11rem;
    overflow-y: scroll;
    scrollbar-color: #9c7444 transparent;
    scrollbar-width: thin;
    border-top: rgb(187 146 86) solid 0.2rem;
    box-shadow: 0 -0.1875rem 0 0 rgb(121 85 72 / 11%);
}

.history li:nth-child(even) {
    background-color: rgb(187 146 86);
}

.history li {
    display: flex;
    height: 1.5rem;
    align-items: center;
    padding-left: 0.2rem;
}

/* HEADER */
.top-bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.top-bar h1 {
    color: whitesmoke;
    margin: 0 auto;
}

.forfeit {
    background-color: transparent;
    border: none;
    width: fit-content;
    padding: 0;
}

.forfeit img {
    width: 2rem;
}

section h3, section h2, section h4 {
    color: whitesmoke;
}

.top-bar div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.top-bar {
    margin-right: 0.5rem;
}

/* PROGRESS BAR */
.progress-bar-container {
    display: flex;
    align-items: center;
}

.progress-bar picture {
    display: flex;
}

/* CARD */
.card {
    flex: 0 1 6rem;
    aspect-ratio: 70 / 100;
    position: relative;
    transition: 0.3s;
}

.card:hover {
    filter: brightness(80%);
}

.card .points {
    color: whitesmoke;
    font-size: 0.75rem;
}

.card ul {
    display: flex;
    justify-content: space-around;
    position: absolute;
    height: 34%;
    width: 100%;
    bottom: 0;
}

.card > p {
    position: absolute;
    left: 15.5%;
    top: 4%;
}

.card li picture {
    width: 100%;
}

.selected-token img {
    outline: 0.275rem solid hotpink;
    border-radius: 0.75rem;
}

.card li img {
    width: 100%;
}

.card li p {
    position: absolute;
    left: 35%;
    top: 35%;
}

.card li > * {
    position: absolute;
}

.decks > li > picture img {
    width: 100%;
}

.card > picture:first-of-type img {
    width: 100%;
}

.card > picture:last-of-type img {
    width: 60%;
    position: absolute;
    left: 18%;
    bottom: 34%;
}

/* RESERVED */
.reserved-cards > ul {
    display: flex;
    gap: 0 1rem;
}

/* DECKS */
.cards-in-deck {
    flex: 0 1 auto;
    display: flex;
    gap: 0.4rem;
    justify-content: space-between;
}

/* DECK CARDS */
.decks > li > picture {
    flex: 0 1 6rem;
    transition: 0.3s;
}

.decks > li > picture:hover {
    filter: brightness(80%);
}

/* Player points */
.player-points {
    display: flex;
    align-items: baseline;
    gap: 0 0.5rem;
    grid-area: player-points;
}

.enough-points-to-win, .highlighted-number {
    color: #fa716c;
}

.green-buyable-card {
    box-shadow: 0 0 0.7rem 0.4rem #97bd56;
}

.white-buyable-card {
    box-shadow: 0 0 0.7rem 0.4rem #e5e3e3;
}

.blue-buyable-card {
    box-shadow: 0 0 0.7rem 0.4rem #518da3;
}

.red-buyable-card {
    box-shadow: 0 0 0.7rem 0.4rem #d88e4f;
}

.black-buyable-card {
    box-shadow: 0 0 0.7rem 0.4rem #9c7444;
}

.selected-card {
    transform: scale(1.2);
    z-index: 10;
}

.selectable-noble {
    outline: 0.275rem solid yellow;
    border-radius: 0.25rem;
}

.selected-noble {
    outline: 0.275rem solid hotpink;
    border-radius: 0.25rem;
}

.progress-bar {
    height: 0.5rem;
    background-repeat: no-repeat;
}

/* PLAYER TOKENS */
.player-tokens header {
    display: flex;
    align-items: flex-end;
    gap: 0 0.5rem;
}

.player-tokens li:first-of-type {
    margin: 1rem 0;
}

.discard-container button {
    padding: 0.2rem;
}

.player-card {
    gap: 0.4rem;
    background-color: #d9b56f;
    transition: transform 2s;
    padding: 0.2rem;
    margin-top: 0.5rem;
    width: max-content;
}

.diamond {
    margin-left: 1rem;
    width: 1.25rem;
}

.player-card.current-player {
    transform: translateX(10rem);
    position: relative;
}

/* TIMER */
.timer {
    height: 100%;
    width: 2rem;
    background: #d9b56f;
    transform: rotate(180deg);
    outline: #9c7444 solid 0.2rem;
    box-shadow: 0 0 0 0.2rem #00000020, inset 0 0 0 0.2rem #00000035;
    transition: opacity 1s;
    margin-left: auto;
    margin-right: 2rem;
}

.timer-fill {
    height: 0;
    width: 100%;
    background: #3b6992;
    transition: background-color 1s ease-in-out, box-shadow 1s ease-in-out;
    box-shadow: inset 0 0 0 0.2rem #4c86ba;
}

.time-almost-ends {
    background: #fa716c;
    box-shadow: inset 0 0 0 0.2rem #ff8e89;
}

.button-container { 
    grid-area: action-button;
    height: 2rem;
    width: fit-content;
    margin: auto 2rem 2rem auto;
    display: flex;
    gap: 0 1rem;
}

.button-container button {
    width: 7.65rem;
    height: 2.55rem;
    background-size: cover;
    background-color: transparent;
    border: none;
    background-image: url("../images/UI/action_button.webp"), url("../images/fallback/UI/action_button.png");
    color: whitesmoke;
    font-size: 0.7rem;
    transition: filter 0.3s ease-in-out;
}

.button-container button:hover {
    filter: brightness(115%);
}

.button-container button:disabled {
    cursor: not-allowed;
    filter: grayscale(80%);
}