/* GENERAL LAY-OUT */

/* Sidebar and main content alignment */
body {
    display: grid;
    grid-template-columns: 20% 80%;
}

/* SWITCH TOKEN BUTTONS */
.switch-token-container .hidden {
    display: none;
}

.switch-token-container p {
    display: inline-block;
}

/* Main content alignment */
body > section {
    display: grid;
    grid-template-rows: 10% 90%;
}

div.main {
    display: grid;
    grid-template-columns: 50% 30% 6% 14%;
    grid-template-rows: 80% 5% 15%;
    grid-template-areas:    "decks board-tokens nobles timer"
                            "player-points player-tokens player-tokens action-button"
                            "reserved-cards player-tokens player-tokens action-button";
}

.decks {
    grid-area: decks;
    display: flex;
    flex-direction: column;
    gap: 0.4rem 0;
}

.board-tokens {
    grid-area: board-tokens;
}

.nobles {
    grid-area: nobles;
}

.player-tokens {
    grid-area: player-tokens;
}

.reserved-cards {
    grid-area: reserved-cards;
}

/* ASIDE */
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
}

.player-card > ul {
    display: flex;
    gap: 0 0.2rem;
}

.card li {
    display: flex;
    align-items: center;
    width: 25%;
    position: relative;
}

.decks > li {
    display: flex;
    gap: 0 1rem;
}

.player-tokens li {
    display: flex;
    gap: 0.5rem;
}

.player-card > ul > li {
    display: flex;
    align-items: center;
}

/* Player cards */
.player-card header *, .player-card li * {
    display: inline-block;
}

/* History */
.history li * {
    display: inline-block;
}

/* HEADER */
.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

section header picture {
    padding-right: 1rem;
}

/* PROGRESS BAR */
.progress-bar-container {
    display: flex;
    align-items: center;
}

.progress-bar picture {
    display: flex;
}

/* CARD */
.card {
    flex: 0 1 6vw;
    aspect-ratio: 70 / 100;
    position: relative;
}

.card ul {
    display: flex;
    justify-content: space-around;
    position: absolute;
    height: 34%;
    width: 100%;
    bottom: 0;
}

.card > p {
    position: absolute;
    left: 15.5%;
    top: 4%;
}

.card li picture {
    width: 100%;
}

.selected-token img {
    outline: 0.275rem solid hotpink;
    border-radius: 0.75rem;
}

.card li img {
    width: 100%;
}

.card li p {
    position: absolute;
    left: 35%;
    top: 35%;
}

.card li > * {
    position: absolute;
}

.decks > li > picture img {
    width: 100%;
}

.card > picture:first-of-type img {
    width: 100%;
}

.card > picture:last-of-type img {
    width: 60%;
    position: absolute;
    left: 18%;
    bottom: 34%;
}

/* RESERVED */
.reserved-cards ul {
    display: flex;
    gap: 0 1rem;
}

/* DECKS */
.decks > li > ul {
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;
    gap: 0 0.4rem;
}

/* DECK CARDS */
.decks > li > picture {
    flex: 0 1 6vw;
}

/* Player points */
.player-points {
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    grid-area: player-points;
}

.enough-points-to-win {
    color: hotpink;
}

.selected-card picture:first-of-type img {
    outline: 0.275rem solid hotpink;
    border-radius: 0.25rem;
}

.progress-bar {
    height: 0.5rem;
    background-repeat: no-repeat;
}

/* PLAYER TOKENS */
.player-tokens header {
    display: flex;
    gap: 0 0.5rem;
}

.player-tokens li:first-of-type {
    margin: 1rem 0;
}

.highlighted-number {
    color: hotpink;
}

/* TIMER */
progress {
    grid-area: timer;
    transform: rotate(90deg);
    margin: auto 0;
}

.button-container { 
    grid-area: action-button;
    height: 2rem;
    width: fit-content;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}