#page-layout {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 2rem 0.5rem 2rem 2rem;
}

header > button {
    width: 8rem;
}

#playerInformation {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    align-items: center;
}

main {
    flex: 1 0 auto;
}

p {
    display: inline-block;
}

h1 {
    text-align: center;
}

form {
    width: 50%;
    margin: 3rem auto;
    text-align: center;
}

label {
    font-size: 1.5rem;
    margin-right: 0.4rem;
}

input {
    margin: 2rem 0;
}

input[type="radio"] {
    margin-right: 0.4rem;
}

input[type="text"] {
    width: 14rem;
}



form > button {
    margin: 2rem auto;
    display: block;
    width: 8rem;
    height: 2rem;
}

footer {
    align-self: flex-end;
    flex-flow: row nowrap;
    padding: 2rem;
}
