:root {
    --light-text-color: whitesmoke;
    --hover-transition-duration: filter 0.3s ease-in-out;
}

/* General styling for the body and main container */
body::before {
    content: "";
    display: block;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/board_background.webp"), url("../images/fallback/board_background.png");
    animation: hueShift 20s linear infinite;
    background-size: contain;
    background-position: center;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    color: white;
    overflow: clip;
}

@keyframes hueShift {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
}

main {
    flex: 1 0 auto;
}


main section::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-3rem);
    width: 70vw;
    height: 45rem;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    display: block;
    background-image: url("../images/UI/game_list_background.webp"), url("../images/fallback/UI/game_list_background.png");

}
/*
main::before {
    content: "";
    background-image: url("../images/UI/game_list_background.webp"), url("../images/fallback/UI/game_list_background.png");
    background-size: 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    width: 22rem;
    height: 31rem;
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}
*/
/* Header styling */
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 2rem 0 2rem;
}

#playerInformation {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

/* Form styling (inc. related features) */
form {
    margin: 0 auto;
    text-align: center;
}

section{
    position: relative;
    width: 60vw;
    text-align: center;
    margin: 1.5rem auto 0 auto;
    padding-top: 3rem;
}

section h2 {
    margin-bottom: 2rem;
}

section form {
    margin-bottom: 2.4rem;
}

label[for="game-id"]{
    margin-right: 1.2rem;
}

#game-id {
    margin-right: 2rem;
}

label[for="game-name"]{
    margin-right: 1.2rem;
}

#game-name {
    margin-right: 2rem;
}

ul {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 18rem;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color */
    scrollbar-color: gold transparent;
}

li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 1.2rem 0;
}

li:nth-child(even) {
}

li:nth-child(odd) {
}

li h3 {
    margin-bottom: 0.4rem;
}

img {
    max-width: 3rem;
}

footer {
    align-self: flex-end;
    padding: 2rem;
}

.game-info {
    width: 16rem;
}

.game-info h3 {
    overflow-wrap: break-word;
}

main button {
    width: 7.65rem;
    height: 2.55rem;
    background-size: cover;
    background-color: transparent;
    border: none;
    background-image: url("../images/UI/action_button.webp"), url("../images/fallback/UI/action_button.png");
    color: var(--light-text-color);
    font-size: 0.7rem;
    transition: var(--hover-transition-duration);
}

button:hover {
    filter: brightness(115%);
}

/* TODO don't forget to fix this styling when adding the new back button*/
#back-button {
    background-color: transparent;
    border: none;
}

#back-button img {
    width: 5rem;
}

#back-button:hover {
    filter: brightness(130%);
}