/* This will be the style of the join-game.html file */

body {
    background-color: white;
}

#page-layout {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 2rem 2rem;
}

main {
    flex: 1 0 auto;
}


form {
    margin: 0 auto;
    text-align: center;
}

section{
    background-color: lightgray;
    width: 60%;
    text-align: center;
    margin: 3rem auto 0 auto;
    padding: 3rem 0;
}

section h2 {
    margin-bottom: 2rem;
}

section form {
    margin-bottom: 2.4rem;
}

button {
    width: 8rem; /* Added a fixed with because otherwise the flex would handle the spectate different than the join so the numbers of players are not aligned wel*/
}

label[for="game-id"]{
    margin-right: 1.2rem;
}

#game-id {
    margin-right: 2rem;
}

label[for="game-name"]{
    margin-right: 1.2rem;
}

#game-name {
    margin-right: 2rem;
}

li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 1.2rem 0;
}

li h3 {
    margin-bottom: 0.4rem;
}

footer {
    background-color: gray;
    align-self: flex-end;
}

img {
    max-width: 3rem;
}
