picture {
    vertical-align: middle;
}

body {
    padding-top: 2rem;
    background-color: white;
    font-size: 1em;
    font-family: sans-serif;
    /*TODO add default font-family*/
}
/* header */
header {
    text-align: center;
    width: fit-content;
    margin: auto;
}

header p {
    text-align: left;
}
h1 {
    font-size: 5em;
    margin-bottom: 1.5rem;
}

h2 {
    display: inline-block;
    font-size: 2.5em;
    margin-bottom: 0.5rem;
}

header ion-icon {
    font-size: 2.5rem;
    color: black;
}

footer #Toggle-sound-button{
    background-color: transparent;
    border: none;
}