/* general */
picture {
    vertical-align: middle;
}

button {
    vertical-align: middle;
    background-color: black;
    color: white;
    border-radius: 0.2rem;
    border: none;
    height: 2.5rem;
    width: 10rem
}

body {
    padding-top: 2rem;
    background-color: white;
    font-size: 1em;
    font-family: sans-serif;
    min-height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    /*TODO add default font-family*/
}

main {
    flex: 1 0 auto;
}
/* header */
header {
    text-align: center;
    width: fit-content;
    margin: auto;
}

header p {
    text-align: left;
}
h1 {
    font-size: 5em;
    margin-bottom: 1.5rem;
}

h2 {
    display: inline-block;
    font-size: 2.5em;
    margin-bottom: 0.5rem;
}

header ion-icon {
    font-size: 2.5rem;
    color: black;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
}
footer #Toggle-sound-button{
    background-color: transparent;
    border: none;
}

footer picture source, footer picture img{
    height: 2.5rem;
}