:root {
    --players-container-width: 15rem;
    --scaleUpAnimation: scaleUpToFullSize 0.5s ease-in-out forwards;
}
/* general */

@keyframes hueShift {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
}

body::before {
    content: "";
    display: block;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/board_background.webp"), url("../images/fallback/board_background.png");
    animation: hueShift 20s linear infinite;
    background-size: contain;
    background-position: center;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

button {
    background-color: transparent;
    color: white;
    border: none
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    color: var(--light-text-color);
}

main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    text-align: left;
}

main > div {
    justify-content: center;
    align-content: center;

}

/* header */
header {
    text-align: center;
    height: 15rem;
    width: fit-content;
    margin: 0 auto 3rem;
}

header p {
    text-align: left;
}

h1 {
    font-size: 5em;
    margin: 1.5rem 0;
}

h2 {
    display: inline-block;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

h3 {
    display: inline-block;
    width: fit-content;
}

footer {
    padding: 2rem;
}

.leave-button {
    margin: 1rem auto 2rem;
    display: block;
    width: 7.65rem;
    height: 2.55rem;
    background-size: 100% 100%;
    background-color: transparent;
    background-image: url("../images/UI/action_button.webp"), url("../images/fallback/UI/action_button.png");
    color: var(--light-text-color);
    font-size: 0.7rem;
    transition: var(--hover-transition-duration);
}

.leave-button.none {
    display: none;
}

ul {
    position: relative;
    width: var(--players-container-width);
    height: var(--players-container-width);
    background-image: url("../images/lobby.webp"), url("../images/fallback/lobby.png");
    background-size: contain;
}

li {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    top: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
    transform: scale(0);
    transform-origin: center;
}

li p {
    display: flex;
    justify-content: center;
    width: 10rem;
    animation: var(--scaleUpAnimation);
}

li > picture {
    width: 2rem;
    height: 2rem;
    animation: rotateScaleUp 0.5s forwards linear;
}

.player:nth-of-type(1) {
    transform: translateX(calc(var(--players-container-width) / 2 - 50%)) translateY(calc(-50% + 0.4rem));
}

.player:nth-of-type(2) {
    transform: translateX(calc(var(--players-container-width) / 2 - 50%)) translateY(calc(var(--players-container-width) - 50% - 2rem));
}

.player:nth-of-type(3) {
    transform: translateX(calc(var(--players-container-width) - 50% - 1rem)) translateY(calc(var(--players-container-width) / 2 - 50% - 0.8rem));
}


.player:nth-of-type(4) {
    transform: translateX(calc(-50% + 1rem)) translateY(calc(var(--players-container-width) / 2 - 50% - 0.7rem));
}

.player > picture img {
    width: 2rem;
}

.starting-countdown {
    font-size: 12rem;
    height: fit-content;
    width: 6rem;
    position: absolute;
    text-align: center;
    top: calc(var(--players-container-width) / 2);
    left: calc(var(--players-container-width) / 2);
    transform: translate(-50%, -50%);
    animation: scaleUp linear 1s forwards;
    transform-origin: center;
    will-change: transform;
}

#player-count {
    display: inline-block;
    margin-left: 1rem;
}

/* COPY ID BUTTON */
#copy-game-id-button img {
    height: 2.5rem;
    width: 2.5rem;
}

#copy-game-id-button {
    background-color: transparent;
    margin-bottom: 1rem;
}

#joined-players button {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: -0.5rem;
    right: -0.5rem;
    padding: 0;
    animation: var(--scaleUpAnimation);
}

#joined-players select {
    animation: var(--scaleUpAnimation);
}

@keyframes scaleUp {
    0% {
        transform: translate(-50%, -50%) scale(0) ;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes rotateScaleUp {
    from {
        opacity: 0.5;
        transform: scale(0) rotateZ(-180deg);
    }

    to {
        opacity: 1;
        transform: scale(1) rotateZ(0deg);
    }
}

@keyframes scaleUpToFullSize {
    from {
        opacity: 0.5;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.add-bot div {
    display: flex;
    padding: 0.25rem;
    background: #322b3b;
    border-radius: 5%;
}

.add-bot button img {
    width: 1rem;
}

.add-bot > picture img {
    opacity: 0.5;
}

select {
    border: none;
    outline: none;
    box-shadow: none;
    width: 1rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    font-size: 1rem;
    text-align: center;
}

label {
    display: inline-block;
    padding-right: 0.2rem;
}