/* General styling for the body and main container */
main {
    flex: 1 0 auto;
}

body > div {
    padding-top: 5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    height: 100vh;
}

/* Splendor logo */
header {
    margin: 2rem auto 5rem auto;
    scale: 225%;
}

/* Form */
label {
    display: block;
}

/* Avatar selector */
.avatar-selector {
    position: relative;
    display: inline-block;
    margin-left: 2rem;
    list-style-type: none;
}

.avatar-selector section {
    background-color: whitesmoke;
    position: absolute;
}

.avatar-selector section ul {
    display: flex;
    gap: 0.5rem;
}

.avatar-selector button {
    background-color: transparent;
    padding: 0;
    border: none;
}

/* Join and create buttons */
.form-actions {
    grid-area: action-button;
    height: 2rem;
    width: fit-content;
    margin: 1rem 2rem 2rem auto;
    display: flex;
    gap: 0 1rem;
}

.form-actions button:hover {
    filter: brightness(115%);
}

.form-actions button {
    width: 7.65rem;
    height: 2.55rem;
    background-size: cover;
    background-color: transparent;
    border: none;
    background-image: url("../images/UI/action_button.webp"), url("../images/fallback/UI/action_button.png");
    color: var(--light-text-color);
    font-size: 0.7rem;
    transition: var(--hover-transition-duration);
}

/* Place the audio toggle at the right side of the footer */
footer {
    align-self: flex-end;
    flex-flow: row nowrap;
    padding: 2rem;
}

footer .sound-button {
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: none;
}