/* General styling for the body and main container */
main {
    padding: 1rem 0 1rem 0;
    width: 40rem;
    text-align: center;
    margin: 0 auto;
    background-color: #372b53;
    border : var(--border-collor) solid 0.3rem;
    outline: var(--outline-collor) solid 0.3rem;
    height: 12rem;
}

body {
    color: var(--light-text-color);
}

body::before {
    content: "";
    display: block;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/board_background.webp"), url("../images/fallback/board_background.png");
    animation: hueShift 20s linear infinite;
    background-size: contain;
    background-position: center;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

body > div {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    height: 100vh;
}

@keyframes hueShift {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
}

/* Splendor logo */
header {
    margin: 5rem auto 3rem auto;
}

header img {
    height: 8.75rem
}

/* Form */
label {
    display: inline-block;
    font-size: 1.2rem;
}

/* Avatar selector */
.avatar-selector {
    position: relative;
    display: inline-block;
    margin-left: 1.25rem;
    list-style-type: none;
}

form .avatar-selector {
    transform: translateY(0.625rem);
}

.avatar-selector section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.avatar-selector button {
    background-color: transparent;
    border: none;
    width: 2rem;
    height: 2rem;
}

.avatar-selector button img {
    width: 2rem;
    height: 2rem;
}

.avatar-selector section {
    position: absolute;
    background-color: #372b53;
    color: white;
    border : rgb(214, 141, 78) solid 0.1rem;
    outline: rgb(237, 191, 94) solid 0.1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    top: 2.5rem;
    left: 0;
    z-index: 5;
}

.avatar-selector section ul li {
    list-style: none;
}

.avatar-selector section h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

/* Join and create buttons */
.form-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 4rem auto 0 auto;
    height: 2.55rem;
}

.form-actions button {
    width: 7.65rem;
    height: 2.55rem;
    background-size: cover;
    background-color: transparent;
    border: none;
    background-image: url("../images/UI/action_button.webp"), url("../images/fallback/UI/action_button.png");
    color: var(--light-text-color);
    font-size: 0.7rem;
    transition: var(--hover-transition-duration);
    animation: buttonAppear 0.5s ease-in-out forwards;
}

.form-actions button:hover {
    filter: brightness(115%);
}

/* Link to card collection */
main a {
    display: block;
    margin: 2rem 2rem auto 2rem;
    text-align: left;
    color: white;
    width: fit-content;
}

/* Place the audio toggle at the right side of the footer */
footer {
    align-self: flex-end;
    flex-flow: row nowrap;
    padding: 2rem;
}

footer .sound-button {
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: none;
}

@keyframes buttonAppear {
    0% {
        transform: scale(0);
    }

    85% {
        transform: scale(1.07);
    }

    100% {
        transform: scale(1);
    }
}