/* General styling for the body and main container */
main {
    width: 22rem;
    height: 25.7rem;
    text-align: center;
    background-image: url("../images/banner.webp"), url("../images/fallback/banner.png");
    background-size: cover;
    padding-top: 2rem;
}

body {
    color: var(--light-text-color);
}

body::before {
    content: "";
    display: block;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/board_background.webp"), url("../images/fallback/board_background.png");
    animation: hueShift 20s linear infinite;
    background-size: contain;
    background-position: center;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

body > div {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

@keyframes hueShift {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
}

header {
    align-self: start;
    margin-top: 8rem;
}

header h2, header li {
    font-size: 1rem;
    width: 42rem;
    text-shadow: rgb(0 0 0 / 57%) 0.2rem 0.2rem 0.3rem;
}

header h2 {
    font-size: 1.3rem;
    margin-top: 2.75rem;
    margin-bottom: 0.5rem;
}

header h3 {
    line-height: 175%;
}

@keyframes wiggle {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.75rem);
    }
}

header > picture img {
    height: 15rem;
    animation: wiggle 5s ease-in-out infinite;
}

.authors {
    display: flex;
    flex-flow: column wrap;
    height: 5rem;
    gap: 1rem;
}

header li {
    line-height: 200%;
    width: 15rem;
    display: flex;
    justify-content: space-between;
}

.authors img {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 2rem;
}

/* Form */
label {
    display: block;
    margin-right: 7.5rem;
    font-size: 1.1rem;
    text-shadow: 0 0 0.2rem #3d3d3d;
}

/* Avatar selector */
.avatar-selector {
    position: relative;
    display: inline-block;
    margin-left: 1.25rem;
    list-style-type: none;
}

.avatar-selector section ul li {
    list-style: none;
}

.avatar-selector li:hover {
    cursor: var(--clickable-item-cursor);
}

form .avatar-selector {
    transform: translateY(0.625rem);
}

.avatar-selector section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.avatar-selector button {
    background-color: transparent;
    border: none;
    padding: 0;
    transition: 0.3s;
}

.avatar-selector button img {
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: rgb(0 0 0 / 57%) 0.1rem 0.1rem 0.1rem;
    border-radius: 50%;
}

.avatar-selector section {
    position: absolute;
    background-color: #372b53;
    color: white;
    border : rgb(214, 141, 78) solid 0.1rem;
    outline: rgb(237, 191, 94) solid 0.1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    top: 2.5rem;
    left: 0;
    z-index: 5;
    width: 12rem;
}

.avatar-selector section h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

/* Join and create buttons */
.form-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem auto 0 auto;
}

.form-actions button {
    width: 7.65rem;
    height: 2.55rem;
    background-size: cover;
    background-color: transparent;
    border: none;
    background-image: url("../images/UI/action_button.webp"), url("../images/fallback/UI/action_button.png");
    color: var(--light-text-color);
    font-size: 0.7rem;
    transition: var(--hover-transition-duration);
    animation: buttonAppear 0.5s ease-in-out;
}

.form-actions button:hover {
    filter: brightness(115%);
    transform: scale(1.1);
}

/* Link to card collection */
main a {
    display: block;
    text-align: center;
    margin-top: 2rem;
    color: white;
}

@keyframes buttonAppear {
    0% {
        transform: scale(0);
    }

    85% {
        transform: scale(1.07);
    }

    100% {
        transform: scale(1);
    }
}