/* General styling for the body and main container */
main {
    background-image: url("../images/results/results_banner.webp"), url("../images/fallback/results/results_banner.png");
    background-size: cover;
    width: 21.2rem;
    height: 32.6rem;
    padding: 0 1.25rem;
}

body {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    height: 100vh;
    overflow: clip;
    box-sizing: border-box;
}

@keyframes hueShift {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
}

body::before {
    content: "";
    display: block;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/board_background.webp"), url("../images/fallback/board_background.png");
    animation: hueShift 20s linear infinite;
    background-size: contain;
    background-position: center;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

/* Winner image */
header {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

h1 {
    text-align: center;
}

h1 img {
    width: 25rem;

}

/* Score table */
table {
    color: lightgray;
    width: 100%;
}

thead {
    color: white;
    font-weight: bold;
}

thead th, tbody td {
    padding: 1rem 0.5rem;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
}

table tbody tr.clientPlayer {
    color: white;
    font-weight: 900;
}

table tbody tr.winner td {
    color: gold;
}

#table-container {
    margin: 1rem auto;
    height: 17rem;
    width: 100%;
}

#table-container img {
    width: 1.45rem;
}

table li {
    list-style-type: none;
}

/* audio button */
footer {
    align-self: flex-end;
    flex-flow: row nowrap;
    padding: 2rem;
}

/* return to menu button */
#return-to-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.65rem;
    height: 2.55rem;
    background-size: cover;
    background-color: transparent;
    border: none;
    text-decoration: none;
    background-image: url("../images/UI/action_button.webp"), url("../images/fallback/UI/action_button.png");
    color: var(--light-text-color);
    font-size: 0.7rem;
    transition: var(--hover-transition-duration);
    margin: 2.5rem auto 0;
}

#return-to-menu:hover {
    filter: var(--button-hover-filter);
}

/* ANIMATIONS */
@keyframes rainingImage {
    from {transform: translateX(-50%) translateY(-2.5rem)}
    to {transform: translateX(-50%) translateY(110vh)}
}

div.raining-animation {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -2.5rem;
    animation: rainingImage 3s ease-in;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: contain;
}
