/* General styling for the body and main container */
main {
    flex: 1 0 auto;
}

body {
    padding-top: 5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    height: 100vh;
    overflow: clip;
}

/* Splendor logo */
header {
    margin: 2rem 0;
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 3rem;
}

.winner td {
    color: darkgoldenrod;
}
/* Score table */
table {
    width: 100%;
}

thead {
    background: whitesmoke;
    font-weight: bold;
}

thead th, tbody td {
    padding: 1rem 1rem;
    text-align: left;
}

tbody tr:nth-child(even) {
    background: whitesmoke;
}

tbody tr:nth-child(odd) {
    background: white;
}

/* Place the audio toggle at the right side of the footer */
footer {
    align-self: flex-end;
    flex-flow: row nowrap;
    padding: 2rem;
}

footer picture source, footer picture img{
    height: 3rem;
}

footer .sound-button {
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: none;
}

/* ANIMATIONS */
@keyframes rainingImage {
    from {transform: translateY(-2.5rem)}
    to {transform: translateY(110vh)}
}

div.raining-animation {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -2.5rem;
    animation: rainingImage 3s ease-in;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(-50%);
}