:root {
    --light-text-color: whitesmoke;
    --hover-transition-duration: filter 0.3s ease-in-out;
}

/* General styling for the body and main container */
header img {
    width: 23.75rem;
}
#banner {
    position: relative;
    width: 100%;
    flex: 1 0 auto;
}

#banner::before {
    content: "";
    background-image: url("../images/UI/results_banner.webp"), url("../images/fallback/UI/results_banner.png");
    background-size: 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    width: 109.5%;
    height: 140%;
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}
main {
    flex: 1 0 auto;
    z-index: 5;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column nowrap;
}

body {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    height: 100vh;
    overflow: clip;
    z-index: 0;
    position: relative;
    box-sizing: border-box;
}

@keyframes hueShift {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
}

body:before {
    content: "";
    display: block;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/board_background.webp"), url("../images/fallback/board_background.png");
    animation: hueShift 20s linear infinite;
    background-size: contain;
    background-position: center;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}
/* Splendor logo */
header {
    margin-top: 1rem;
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 3rem;
}

.winner td {
    color: gold;
}
/* Score table */
table {
    color: white;
    width: 100%;
}

thead {
    font-weight: bold;
}

thead th, tbody td {
    padding: 1rem 1rem;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.4);
}

tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.3);
}

table tbody tr.clientPlayer {
    background-color: rgba(61, 101, 77, 0.6);
}

/* Place the audio toggle at the right side of the footer */
footer {
    align-self: flex-end;
    flex-flow: row nowrap;
    padding: 2rem;
}

footer .sound-button {
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: none;
}

#return-to-menu {
    display: flex;
    align-items: center;
    text-align: center;
    width: 7.65rem;
    height: 2.55rem;
    background-size: cover;
    background-color: transparent;
    border: none;
    text-decoration: none;
    background-image: url("../images/UI/action_button.webp"), url("../images/fallback/UI/action_button.png");
    color: var(--light-text-color);
    font-size: 0.7rem;
    transition: var(--hover-transition-duration);
    margin: 2rem auto 0;
}

#return-to-menu:hover {
    filter: brightness(115%);
}

/* ANIMATIONS */
@keyframes rainingImage {
    from {transform: translateX(-50%) translateY(-2.5rem)}
    to {transform: translateX(-50%) translateY(110vh)}
}

div.raining-animation {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -2.5rem;
    animation: rainingImage 3s ease-in;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: contain;
}