:root {
    --light-text-color: whitesmoke;
    --primary-text-shadow: 0 0 0.3125rem black;
    --hover-transition-duration: filter 0.3s ease-in-out;
}

@font-face {
    font-family: "Pixeloid sans";
    src: url("../fonts/pixeloid_sans.woff");
}

/* General styling */
body {
    background-color: white;
    color: black;
    font-family: "Pixeloid sans", sans-serif;
}

button {
    font-family: "Pixeloid sans", sans-serif;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

strong {
    font-weight: bold;
}

* { image-rendering: pixelated; }

/* styled separately since button and input elements don't inherent the font-family property */
button, input {
    font-family: "Pixeloid sans", sans-serif;
}

.sound-button {
    background-color: transparent;
    border: none;
    width: fit-content;
    padding: 0;
}

.sound-button img {
    width: 3.125rem;
}

.sound-button {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    transition: var(--hover-transition-duration);
}

.sound-button:hover {
    filter: brightness(115%);
}