:root {
    --light-text-color: whitesmoke;
    --primary-text-shadow: 0 0 0.3125rem black;
    --hover-transition-duration: filter 0.3s ease-in-out, transform 0.15s ease-in-out;
    --button-hover-filter: brightness(115%);
    --clickable-item-cursor: pointer;
    --disabled-button-cursor: not-allowed;
    --border-color: rgb(214, 141, 78);
    --outline-color: rgb(237, 191, 94);
}

@font-face {
    font-family: "Pixeloid sans";
    src: url("../fonts/pixeloid_sans.woff");
}

/* General styling */
body {
    background-color: white;
    color: black;
    font-family: "Pixeloid sans", sans-serif;
}

button {
    font-family: "Pixeloid sans", sans-serif;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

strong {
    font-weight: bold;
}

* { image-rendering: pixelated; }

/* styled separately since button and input elements don't inherent the font-family property */
button, input {
    font-family: "Pixeloid sans", sans-serif;
}

.sound-button {
    background-color: transparent;
    border: none;
    width: fit-content;
    padding: 0;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    transition: var(--hover-transition-duration);
    will-change: filter;
}

.sound-button img {
    width: 2rem;
}

.hidden {
    visibility: hidden;
}

.none {
    display: none;
}

header .error-message {
    overflow: clip;
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 1rem;
    z-index: 100;
}

header .error-message p {
    background-color: #752b39;
    border: 0.1rem solid #542434;
    color: var(--light-text-color);
    padding: 0.5rem;
    margin: 1rem 0;
    box-shadow: 0 0 0.1rem 0.1rem #00000020, var(--buyable-card-box-shadow) #c98c08c2;
    animation: message 10s normal ease-in-out;
}

input[type="text"], input[type="number"], select {
    background-color: #372b52;
    border: #d18a4c 0.1rem solid;
    outline: #e9bd5c 0.1rem solid;
    color: var(--light-text-color);
    box-shadow: rgb(0 0 0 / 57%) 0.2rem 0.2rem 0.3rem;
    width: 9rem;
    /* This is needed since chrome decided to be an asshole and override
    my styling for my input fields when using autocompletion
    since input:autofill also works but this gives an error in webstorm which I don't like
    sidenote: this took me way to long to figure out
    https://noahliebman.net/2024/08/beating-important-user-agent-styles/
    To infinity and beyond */
    transition:
            color calc(infinity * 1s) step-end,
            background-color calc(infinity * 1s) step-end;
}

select:hover, button:hover, input[type="radio"] {
    cursor: var(--clickable-item-cursor);
    filter: var(--button-hover-filter);
}

/* https://www.geeksforgeeks.org/how-to-disable-arrows-from-number-input/ */
/* This hides the arrow buttons for input[type="number'] */
/* Hide the spin buttons in WebKit browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide spin buttons in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

@keyframes message {
    from {
        transform: translateX(100%);
    }
    10% {
        transform: translateX(0);
    }
    75% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}